* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

.carousel-inner img{
    width: 100%;
    height: 90vh;
}
.card-body img{
    min-width: 50%;
    max-height: 200px;
}

.carousel-inner {
    margin-top: 75px;
}